[submodule "Licenciatura/2º Ano/Comunicação de Dados/projetoCD"]
	path = Licenciatura/2º Ano/Comunicação de Dados/projetoCD
	url = https://github.com/AnaHenriques01/projetoCD
[submodule "Licenciatura/2º Ano/Sistemas Operacionais/projetoSO"]
	path = Licenciatura/2º Ano/Sistemas Operacionais/projetoSO
	url = https://github.com/AnaHenriques01/projetoSO
[submodule "Licenciatura/2º Ano/Laboratórios de Informática III/projetosLI3"]
	path = Licenciatura/2º Ano/Laboratórios de Informática III/projetosLI3
	url = https://github.com/AnaHenriques01/projetosLI3
[submodule "Licenciatura/2º Ano/Investigação Operacional/projetosIO"]
	path = Licenciatura/2º Ano/Investigação Operacional/projetosIO
	url = https://github.com/AnaHenriques01/projetosIO
[submodule "Licenciatura/2º Ano/Redes de Computadores/projetosRC"]
	path = Licenciatura/2º Ano/Redes de Computadores/projetosRC
	url = https://github.com/AnaHenriques01/projetosRC
[submodule "Licenciatura/2º Ano/Métodos Numéricos e Otimização Não Linear/projetoMNONL"]
	path = Licenciatura/2º Ano/Métodos Numéricos e Otimização Não Linear/projetoMNONL
	url = https://github.com/AnaHenriques01/projetoMNONL
[submodule "Licenciatura/2º Ano/Programação Orientada aos Objetos/projetoPOO"]
	path = Licenciatura/2º Ano/Programação Orientada aos Objetos/projetoPOO
	url = https://github.com/AnaHenriques01/projetoPOO
[submodule "Licenciatura/3º Ano/Computação Gráfica/projetoCG"]
	path = Licenciatura/3º Ano/Computação Gráfica/projetoCG
	url = https://github.com/AnaHenriques01/projetoCG
[submodule "Licenciatura/3º Ano/Processamento de Linguagens/projetosPL"]
	path = Licenciatura/3º Ano/Processamento de Linguagens/projetosPL
	url = https://github.com/AnaHenriques01/projetosPL
[submodule "Licenciatura/3º Ano/Comunicações por Computador/projetosCC"]
	path = Licenciatura/3º Ano/Comunicações por Computador/projetosCC
	url = https://github.com/AnaHenriques01/projetosCC
[submodule "Licenciatura/3º Ano/Desenvolvimento de Sistemas de Software/projetoDSS"]
	path = Licenciatura/3º Ano/Desenvolvimento de Sistemas de Software/projetoDSS
	url = https://github.com/AnaHenriques01/projetoDSS
[submodule "Licenciatura/3º Ano/Sistemas Distribuídos/projetoSD"]
	path = Licenciatura/3º Ano/Sistemas Distribuídos/projetoSD
	url = https://github.com/AnaHenriques01/projetoSD
[submodule "Licenciatura/3º Ano/Cálculo de Programas/projetoCP"]
	path = Licenciatura/3º Ano/Cálculo de Programas/projetoCP
	url = https://github.com/AnaHenriques01/projetoCP
[submodule "Licenciatura/3º Ano/Inteligência Artificial/projetoIA"]
	path = Licenciatura/3º Ano/Inteligência Artificial/projetoIA
	url = https://github.com/AnaHenriques01/projetoIA
[submodule "Licenciatura/3º Ano/Aprendizagem e Decisão Inteligentes/projetoADI"]
	path = Licenciatura/3º Ano/Aprendizagem e Decisão Inteligentes/projetoADI
	url = https://github.com/AnaHenriques01/projetoADI
[submodule "Licenciatura/3º Ano/Laboratórios de Informática IV/projetoLI4"]
	path = Licenciatura/3º Ano/Laboratórios de Informática IV/projetoLI4
	url = https://github.com/AnaHenriques01/projetoLI4
[submodule "Licenciatura/1º Ano/Laboratórios de Informática II/jogTabRastro"]
	path = Licenciatura/1º Ano/Laboratórios de Informática II/jogTabRastro
	url = https://github.com/Gustominox/jogTabRastro
[submodule "Mestrado/1º Ano/1º Semestre/Aprendizagem e Decisão Inteligentes/projetoDAA"]
	path = Mestrado/1º Ano/1º Semestre/Aprendizagem e Decisão Inteligentes/projetoDAA
	url = https://github.com/AnaHenriques01/projetoDAA
[submodule "Mestrado/1º Ano/1º Semestre/Requisitos e Arquiteturas de Software/projetoRAS"]
	path = Mestrado/1º Ano/1º Semestre/Requisitos e Arquiteturas de Software/projetoRAS
	url = https://github.com/AnaHenriques01/projetoRAS
[submodule "Mestrado/1º Ano/1º Semestre/Computação Paralela/projetosCP"]
	path = Mestrado/1º Ano/1º Semestre/Computação Paralela/projetosCP
	url = https://github.com/AnaHenriques01/projetosCP
[submodule "Mestrado/1º Ano/1º Semestre/Aplicações e Serviços de Computação em Nuvem/projetoASCN"]
	path = Mestrado/1º Ano/1º Semestre/Aplicações e Serviços de Computação em Nuvem/projetoASCN
	url = https://github.com/AnaHenriques01/projetoASCN
[submodule "Mestrado/1º Ano/1º Semestre/Métodos Formais de Engenharia Software/trabalhosMFES"]
	path = Mestrado/1º Ano/1º Semestre/Métodos Formais de Engenharia Software/trabalhosMFES
	url = https://github.com/AnaHenriques01/trabalhosMFES
[submodule "Mestrado/1º Ano/1º Semestre/Engenharia de Serviços em Rede/projetosESR"]
	path = Mestrado/1º Ano/1º Semestre/Engenharia de Serviços em Rede/projetosESR
	url = https://github.com/AnaHenriques01/projetosESR
[submodule "Mestrado/1º Ano/2º Semestre/Sistemas Inteligentes/Agentes e Sistemas Multiagente/Airport-System"]
	path = Mestrado/1º Ano/2º Semestre/Sistemas Inteligentes/Agentes e Sistemas Multiagente/Airport-System
	url = https://github.com/LittleLevi05/Airport-System
[submodule "Mestrado/1º Ano/2º Semestre/Sistemas Inteligentes/Sensorização & Ambiente/Musarise"]
	path = Mestrado/1º Ano/2º Semestre/Sistemas Inteligentes/Sensorização & Ambiente/Musarise
	url = https://github.com/sailoring-rgb/Musarise
[submodule "Mestrado/1º Ano/2º Semestre/Sistemas Inteligentes/Aprendizagem Profunda/Music-Learning"]
	path = Mestrado/1º Ano/2º Semestre/Sistemas Inteligentes/Aprendizagem Profunda/Music-Learning
	url = https://github.com/sailoring-rgb/Music-Learning
